xml-resources/web-service-references/DragonBallService/wsdl/localhost_8080/ApiSoapPoC/DragonBallService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://capsule.corp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://capsule.corp/" name="DragonBallServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://capsule.corp/" schemaLocation="http://localhost:8080/ApiSoapPoC/DragonBallService?xsd=1"/>
</xsd:schema>
</types>
<message name="crearPersonaje">
<part name="parameters" element="tns:crearPersonaje"/>
</message>
<message name="crearPersonajeResponse">
<part name="parameters" element="tns:crearPersonajeResponse"/>
</message>
<message name="URISyntaxException">
<part name="fault" element="tns:URISyntaxException"/>
</message>
<message name="obtenerPersonajePorNombre">
<part name="parameters" element="tns:obtenerPersonajePorNombre"/>
</message>
<message name="obtenerPersonajePorNombreResponse">
<part name="parameters" element="tns:obtenerPersonajePorNombreResponse"/>
</message>
<message name="obtenerTodosLosPersonajes">
<part name="parameters" element="tns:obtenerTodosLosPersonajes"/>
</message>
<message name="obtenerTodosLosPersonajesResponse">
<part name="parameters" element="tns:obtenerTodosLosPersonajesResponse"/>
</message>
<portType name="DragonBallService">
<operation name="crearPersonaje">
<input wsam:Action="http://capsule.corp/DragonBallService/crearPersonajeRequest" message="tns:crearPersonaje"/>
<output wsam:Action="http://capsule.corp/DragonBallService/crearPersonajeResponse" message="tns:crearPersonajeResponse"/>
<fault message="tns:URISyntaxException" name="URISyntaxException" wsam:Action="http://capsule.corp/DragonBallService/crearPersonaje/Fault/URISyntaxException"/>
</operation>
<operation name="obtenerPersonajePorNombre">
<input wsam:Action="http://capsule.corp/DragonBallService/obtenerPersonajePorNombreRequest" message="tns:obtenerPersonajePorNombre"/>
<output wsam:Action="http://capsule.corp/DragonBallService/obtenerPersonajePorNombreResponse" message="tns:obtenerPersonajePorNombreResponse"/>
</operation>
<operation name="obtenerTodosLosPersonajes">
<input wsam:Action="http://capsule.corp/DragonBallService/obtenerTodosLosPersonajesRequest" message="tns:obtenerTodosLosPersonajes"/>
<output wsam:Action="http://capsule.corp/DragonBallService/obtenerTodosLosPersonajesResponse" message="tns:obtenerTodosLosPersonajesResponse"/>
</operation>
</portType>
<binding name="DragonBallServicePortBinding" type="tns:DragonBallService">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearPersonaje">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="URISyntaxException">
<soap12:fault name="URISyntaxException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPersonajePorNombre">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="obtenerTodosLosPersonajes">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="DragonBallServiceService">
<port name="DragonBallServicePort" binding="tns:DragonBallServicePortBinding">
<soap12:address location="http://localhost:8080/ApiSoapPoC/DragonBallService"/>
</port>
</service>
</definitions>